<div class="right-fixed-nav">
    <ul>
        <li class="right-nav"><img src="//www.ieduchina.com/topic/2024/shenzhen/images/bb5751dd.png" alt="">
            <p class="title2">商务合作</p>
            <div class="right-nav-list">
                <div><img src="<%=require(`./企业微信截图_17297359295513.png`)%>" alt="">
                    <p>商务合作请扫码<br>或联系：153-6164-0708</p>
                </div>
            </div>
        </li>
        <li class="right-nav"><a class="showTk"><img src="//www.ieduchina.com/topic/2024/shenzhen/images/4ef3a511.png" alt="">
                <p class="title2">活动预约</p>
            </a></li>
        <li class="right-nav"><img src="//www.ieduchina.com/topic/2024/shenzhen/images/72aad185.png" alt="">
            <p class="title2">家长咨询</p>
            <div class="right-nav-list">
                <div><img src="//www.ieduchina.com/topic/2024/shenzhen/images/d7b7dbc9.jpg" alt="">
                    <p>家长咨询请扫码<br>或联系：189-3807-4754</p>
                </div>
            </div>
        </li>
        <li class="right-nav"><img src="<%=require(`./微信分享.png`)%>" alt="">
            <p class="title2">微信分享</p>
            <div class="right-nav-list">
                <div>
                    <div id="share"></div>
                </div>
            </div>
        </li>
        <li class="right-nav" id="go-top"><img src="//www.ieduchina.com/topic/2024/shenzhen/images/9b98f400.png" alt="">
            <p class="title2">回到顶部</p>
        </li>
    </ul>
</div>