<div class="footer-nav">
  <ul>
    <li><img alt="商务合作" src="//m.ieduchina.com/topic/2024/shenzhen/images/8d327893.png" img="<%=require(`./企业微信截图_17297359295513.png`)%>" tel="153-6164-0708">
      <p>商务合作</p>
    </li>
    <li><img alt="活动预约" src="//m.ieduchina.com/topic/2024/shenzhen/images/bc4f5a55.png">
      <p>活动预约</p>
    </li>
    <li><img alt="家长咨询" src="//m.ieduchina.com/topic/2024/shenzhen/images/5ee14fdf.png" img="//www.ieduchina.com/topic/2024/shenzhen/images/d7b7dbc9.jpg" tel="189-3807-4754">
      <p>家长咨询</p>
    </li>
  </ul>
</div>
<div class="concat">
  <div class="box">
    <div class="img">
      <h4></h4><img alt="" src="">
      <p></p><a href=""></a>
    </div><img alt="" src="//m.ieduchina.com/topic/2024/shenzhen/images/d978f273.png">
  </div>
</div>