.hdxc {
    padding: 40rem;
    text-align: center;
    background-color: var(--white);

    .images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40rem;  

        img {
            width: 325rem;
            height: 251rem;
            object-position: center;
            object-fit: cover;
            margin-bottom: 20rem;
        }
    }

    a {
        margin-top: 20rem;
        display: inline-block;
        width: 160rem;
        height: 50rem;
        background: var(--primary);
        border-radius: 20rem 0 20rem 0;
        font-size: 16rem;
        color: #FFFFFF;
        line-height: 50rem;
        box-shadow: 0 4rem 10rem 0 rgba(16, 30, 93, 0.3);
        text-align: center;
    }
}