<div class="videos">
  <%=require(`../title/index.ejs`)({cn:"精彩视频",en:"Wonderful video"})%>
  <% const video=[
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/922954843560136621077538556/CMhT7MRLaJkA.mp4",
      image:"尹浩然"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/2be42dfa3560136621079502292/yvaPSR66dlMA.mp4",
      image:"朱嘉添"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/9e7be9013560136621084838471/p8wOW0T0980A.mp4",
      image:"何廸信"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/dca65cf83560136621078411472/0551UKbfMDQA.mp4",
      image:"卢裕敏刘少龙"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/9b8c22f53560136621077941003/uukBDHsaetgA.mp4",
      image:"杨菲菲"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/e62272413560136621078837271/NymQhrgryrIA.mp4",
      image:"刘宇"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/ba4ef6cd3560136621081998668/9aRJe8N1ocsA.mp4",
      image:"张悦"
    }
  ]%>
  <div class="con">
    <div class="case-wrap">
      <div class="case_swiper swiper-container">
        <div class="swiper-wrapper">
          <%video.forEach((item)=>{%>
          <div class="swiper-slide">
            <div class="video-wrap"><img width="754" height="424" src="<%=require(`./${item.image}.jpg`)%>"  alt="" value="<%=item.video%>"></div>
          </div>
          <%})%>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>