<div class="lthg">
  <%=require(`../title-wap/index.ejs`)({cn:"论坛回顾",en:"Forum review"})%>
  <video height="460" id="swipervideo" playsinline preload="auto" value="https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/fe12fc1d1397757895806960617/ECmecNY3X6oA.mp4" webkit-playsinline width="690" poster="<%=require(`./企业微信截图_17298259408688.png`)%>"></video>
  <div class="con">
    <h2>2025全球多元化升学论坛大湾区国际教育名校择校展在深圳圆满落幕</h2>
    <p>2025年5月10日，由国际教育网主办的"全球多元化升学论坛·大湾区国际教育名校择校展"在深圳福田圆满落幕。论坛围绕香港多元化教育的优势与特色展开了深入的探讨，并与内地教育进行了比较分析。同时汇聚了众多香港&内地优质国际学校，从Band1精英中学到特色Band2/3学校，从国际名校到港澳子弟学校，涵盖从幼儿园到高中的全学段教育，全面覆盖DSE、AP、IB、A-Level主流国际课程体系，满足不同学术水平、教育预算及升学路径的需求。</p>
    <a href="https://mp.weixin.qq.com/s?__biz=MzkwOTI1NTU1Mg==&mid=2247583139&idx=1&sn=7076f4b60511442be4e0e10bd078dd95&chksm=c097d4b5ebed2529266bdd58c2dd5d9ec3be809ee768f9c1fbe69d91a0113cc1b439b5b43481&mpshare=1&scene=1&srcid=1022oAwkWPDsZL3Kz3SI4PU5&sharer_shareinfo=ef75d70e88d1c3c93521f379838477d5&sharer_shareinfo_first=ef75d70e88d1c3c93521f379838477d5&from=industrynews&version=4.1.30.6008&platform=win&nwr_flag=1#wechat_redirect" target="_blank" rel="nofollow">
      详情报导<img alt="" src="https://m.ieduchina.com/topic/2024/shenzhen/images/79d6a003.png">
    </a>
    <ul>
      <li>
        <div class="li_wrap">
          <div class="li_wrap_in"><span>4</span>
            <p>主流课程体系</p>
          </div>
        </div>
      </li>
      <li>
        <div class="li_wrap">
          <div class="li_wrap_in"><span>10</span>
            <p>顶尖教育专家</p>
          </div>
        </div>
      </li>
      <li>
        <div class="li_wrap">
          <div class="li_wrap_in"><span>20</span>
            <p>内地&香港学校</p>
          </div>
        </div>
      </li>
      <li>
        <div class="li_wrap">
          <div class="li_wrap_in"><span>300</span>
            <p>出席家庭</p>
          </div>
        </div>
      </li>
      <li>
        <div class="li_wrap">
          <div class="li_wrap_in"><span>500W</span>
            <p>浏览量</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>