<header>
  <div class="con">
    <h1>2025全球多元化升学论坛大湾区国际教育名校择校展</h1>
    <div class="links">
      <a href="https://www.ieduchina.com/" target="_blank">国际教育网</a>
      <a href="https://schoollist.ieduchina.com/" target="_blank">学校大全</a>
      <a href="https://www.ieduchina.com/huodong/" target="_blank">学校活动</a>
    </div>
  </div>
</header>