<footer class="footer_nav">
	<div class="con">
		<div class="footer-menu">
			<h2><img src="https://www.ieduchina.com/statics/pcc/img/logo_footer.png?v=1" alt="国际教育网"></h2>
			<ul>
				<li><a href="//www.ieduchina.com/service/aboutus.html" rel="nofollow">关于我们</a></li>
				<li><a href="//www.ieduchina.com/mp/login_member.html" rel="nofollow">投稿</a></li>
				<li><a href="//www.ieduchina.com/service/tousu.html" rel="nofollow">投诉侵权</a></li>
				<li><a href="//www.ieduchina.com/service/ad.html" rel="nofollow">联系我们</a></li>
				<li><a href="//www.ieduchina.com/service/joinus.html" rel="nofollow">加入我们</a></li>
			</ul>
		</div>
		<div class="footer-contact">
			<ul>
				<li><img src="https://www.ieduchina.com/statics/pcc/img/amy.png" alt="国际教育网Amy"> <span>国际教育网Amy</span>
				</li>
				<li>
					<p>学生家长咨询</p>
					<p>400-900-8516</p>
				</li>
				<li><img src="https://www.ieduchina.com/statics/hui.jpg" alt="学校官方媒体合作"> <span>学校官方媒体合作</span></li>
				<li>
					<p>学校媒体合作</p>
					<p>18165706113</p>
				</li>
			</ul>
			<div class="right">
				<p><span>小红书</span>
					<span><a>国际教育的Linda</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/f2.jpg"
								alt="国际教育的Linda"> </a></span>
					<span><a>选校君(国际版)</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/images/jun.png"
								alt="选校君(国际版)"></a></span>
					<span><a>Alina学姐在香港</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/f3.jpg"
								alt="Alina学姐在香港"></a></span>
					<span><a>Linda说国际教育</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/f666.jpg"
								alt="Linda说国际教育"></a></span>
				</p>
				<p><span>视频号</span>
					<span><a>国际教育Linda说</a><a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/a248026a.png"
								alt="国际教育Linda说"></a></span>
					<span><a>选校砖家</a><a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/181e94a0.png"
								alt="选校砖家"> </a></span>
				</p>
				<p><span>微信公众号</span>
					<span><a>国际教育Linda说</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/g073a37a.jpg"
								alt="国际教育Linda说"></a></span>
					<span><a>选校砖家</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/1a98d522.png"
								alt="选校砖家"></a></span>
					<span><a>香港名校通</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/b3130733.png"
								alt="香港名校通"></a></span>
					<span><a>爱读教育</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/2a8a129a.png"
								alt="爱读教育"></a></span>
				</p>
				<p><span>微信服务号</span>
					<span><a>国际教育Linda说低龄</a> <a class="img-wrap"><img
								src="https://www.ieduchina.com/statics/pcc/img/h073a37a.jpg" alt="国际教育Linda说低龄"></a></span>
				</p>
				<p class="dy">
					<span>抖音</span>
					<span><a>低龄国际教育Linda说</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/f1.jpg"
								alt="低龄国际教育Linda说"> </a></span>
				</p>
				<p><span>知乎</span>
					<span><a>国际教育Linda说</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/65f7f6ed.png"
								alt="国际教育Linda说">
						</a></span>
				</p>
				<p><span>小程序</span>
					<span><a>探校小管家</a> <a class="img-wrap"><img src="https://www.ieduchina.com/statics/pcc/img/25eb8325.png"
								alt="探校小管家"></a></span>
				</p>
			</div>
		</div>
		<div class="footer-copyright">
			<p>Copyright © <span id="copyyear">2025</span> 国际教育网 版权所有</p>
			<p><a href="http://beian.miit.gov.cn/" rel="nofollow">粤ICP备2021064228-2号</a> <a
					href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502002588" rel="nofollow"><img
						src="//www.ieduchina.com/statics/pcc/img/police.png?v=1"
						style="display: inline-block;vertical-align: middle;">粤公网安备 44030502002588号</a></p>
			<p>网站所有图片、文字未经许可不得拷贝、复制</p>
		</div>
	</div>
</footer>