<footer>
    <footer class="footer">
        <div class="con">
            <div class="footer-menu">
                <h2><img height="44" src="<%=require(`./橙色@1x.png`)%>" alt=""></h2>
                <ul>
                    <li><a href="//www.ieduchina.com/service/aboutus.html">关于我们</a></li>
                    <li><a href="//www.ieduchina.com/mp/login_member.html">投稿</a></li>
                    <li><a href="//www.ieduchina.com/service/tousu.html">投诉侵权</a></li>
                    <li><a href="//www.ieduchina.com/service/ad.html">联系我们</a></li>
                    <li><a href="//www.ieduchina.com/service/joinus.html">加入我们</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <div class="contact-information">
                    <p class="time"><img src="<%=require(`./容器@1x.png`)%>"> 周一到周日
                        08:00-21:00<a href="tel:4009008516">400-900-8516</a>
                    </p>
                    <p class="address"><img src="<%=require(`./容器@1x-2.png`)%>">公司地址</p>
                    <p class="address">香港中心：香港尖沙咀188号 港景汇商场(西九高站F2出口)</p>
                    <p class="address">南山水湾中心:深圳市南山区水湾1979自贸中心2楼</p>
                    <p class="address">南山后海中心:深圳市南山区粤海街道海德三道卓越后海金融中心5楼</p>
                    <p class="address">福田联合中心:深圳市福田区滨河大道5022号联合广场A座1011</p>
                    <p class="address">福田皇岗中心:深圳市福田区皇岗公园束侧云顶翠峰二期1号</p>
                    <p class="address">福田安托山中心:深圳市福田区安托山六路侨香雅居商住楼裙楼一楼7号商铺(深国交东门正对面)</p>
                </div>
                <ul class="contact-qrcode">
                    <li><img src="//www.ieduchina.com/topic/2024/shenzhen/images/60460b0a.png" alt="">
                        <p>选校砖家视频号</p>
                    </li>
                    <li><img src="//www.ieduchina.com/topic/2024/shenzhen/images/14d66312.png" alt="">
                        <p>选校砖家公众号</p>
                    </li>
                    <li><img src="//www.ieduchina.com/topic/2024/shenzhen/images/7b4a6506.png" alt="">
                        <p>国际教育Linda说视频号</p>
                    </li>
                    <li><img src="//www.ieduchina.com/topic/2024/shenzhen/images/62266d5a.png" alt="">
                        <p>国际升学中心公众号</p>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright">
                <p>Copyright ©<span id="siteyear">2025</span>国际教育网 版权所有</p>
                <p>网站所有图片、文字未经许可不得拷贝、复制</p>
            </div>
        </div>
    </footer>
</footer>