<% const video=[
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/1e1724571397757895882343360/IPp3mEMjymAA.mp4",
      image:"尹浩然"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/1e17ca021397757895882344946/f5h5DRvFY9AA.mp4",
      image:"朱嘉添"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/f32d274e1397757895888678852/kUlnQgAR8GYA.mp4",
      image:"何廸信"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/9be041421397757895958370970/TYdStC4zchsA.mp4",
      image:"卢裕敏刘少龙"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/8ec701d01397757896737225111/CUJItyG8tyUA.mp4",
      image:"杨菲菲"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/8ec701d01397757896737225111/CUJItyG8tyUA.mp4",
      image:"刘宇"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/8ec701d01397757896737225111/CUJItyG8tyUA.mp4",
      image:"张悦"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/8ec701d01397757896737225111/CUJItyG8tyUA.mp4",
      image:"优秀学员 鲁芊悦"
    }
]%>
<div class="jcsp">
  <%=require(`../title/index.ejs`)({cn:"精彩视频",en:"Wonderful video"})%>
  <ul>
    <%video.forEach(item=>{%>
    <li><img loading="lazy" alt="" src="<%=require(`../videos/${item.image}.jpg`)%>" width="190" height="104" value="<%=item.video%>"></li>
    <%})%>
  </ul>
  <div class="btn"><button class="more"><span>展开更多</span></button></div>
</div>
<div class="mask" id="mask">
  <img alt="" src="https://m.ieduchina.com/topic/2024/shenzhen/images/d978f273.png">
  <video height="405" id="masksp" playsinline preload="auto" value="" webkit-playsinline width="375" poster=""></video>
</div>