<% const video=[
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/da9916823560136621078350759/t4KbSuZwfj4A.mp4",
      image:"企业微信截图_17478156682439"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/06ff9e953560136621082956010/cvCepDpN2f0A.mp4",
      image:"企业微信截图_17478156879195"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/40f75bdd3560136621083108991/riApjwv8VgwA.mp4",
      image:"企业微信截图_17478157061942"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/e691c91a3560136621085601934/Eccw9eISRIoA.mp4",
      image:"企业微信截图_174781573316"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/b79d1d9a3560136621081844542/UiozQPCJqyEA.mp4",
      image:"企业微信截图_17478157191310"
    },
    {
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/2ea82fe83560136621079666754/B2bVn2sgF6wA.mp4",
      image:"企业微信截图_17478157449882"
    },{
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/b7d2463e3560136621081872374/tAMcJ3OFN1IA.mp4",
      image:"企业微信截图_17478168679021"
    },{
      video:"https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/81e8500f3560136621569378964/cLAMftjsRHUA.mp4",
      image:"企业微信截图_17482311741770"
    }
]%>
<div class="jcsp">
  <%=require(`../title/index.ejs`)({cn:"精彩视频",en:"Wonderful video"})%>
  <ul>
    <%video.forEach(item=>{%>
    <li><img loading="lazy" alt="" src="<%=require(`./images/${item.image}.png`)%>" width="190" height="104" value="<%=item.video%>"></li>
    <%})%>
  </ul>
  <div class="btn"><button class="more"><span>展开更多</span></button></div>
</div>
<div class="mask" id="mask">
  <img alt="" src="https://m.ieduchina.com/topic/2024/shenzhen/images/d978f273.png">
  <video height="405" id="masksp" playsinline preload="auto" value="" webkit-playsinline width="375" poster=""></video>
</div>