<div class="form">
  <form action="/index.php?m=college&c=index&a=collegereg&dopost=reg" method="POST">
    <p>提前锁定精彩活动</p>
    <input name="name" type="text" placeholder="姓名">
    <input name="mobile" type="text" placeholder="手机">
    <select name="grade">
      <option style="display:none" value="">选择即将入读年级</option>
      <option style="color:#333" value="幼儿园">幼儿园</option>
      <option style="color:#333" value="一年级">一年级</option>
      <option style="color:#333" value="二年级">二年级</option>
      <option style="color:#333" value="三年级">三年级</option>
      <option style="color:#333" value="四年级">四年级</option>
      <option style="color:#333" value="五年级">五年级</option>
      <option style="color:#333" value="六年级">六年级</option>
      <option style="color:#333" value="七年级">七年级</option>
      <option style="color:#333" value="八年级">八年级</option>
      <option style="color:#333" value="九年级">九年级</option>
      <option style="color:#333" value="十年级">十年级</option>
      <option style="color:#333" value="十一年级">十一年级</option>
      <option style="color:#333" value="十二年级">十二年级</option>
      <option style="color:#333" value="大一">大一</option>
      <option style="color:#333" value="大二">大二</option>
      <option style="color:#333" value="大三">大三</option>
      <option style="color:#333" value="大四">大四</option>
      <option style="color:#333" value="其它">其它</option>
    </select><input name="want_school" type="text" placeholder="意向学校">
    <input name="mark" type="hidden" value="2025全球多元化升学论坛大湾区国际教育名校择校展WAP版">
    <button class="submit">立即报名</button>
  </form>
</div>